@use 'styles/variables' as *;
@use 'styles/mixins' as *;

:host {
  display: block;
  min-height: 100vh;
  background: $background-color;
}

.main-content {
  margin-top: 64px;
  margin-left: 0;
  padding: $spacing-lg;
  min-height: calc(100vh - 64px);
  @include transition(margin-left);

  &.sidebar-open {
    margin-left: 260px;

    @include mobile {
      margin-left: 0;
    }
  }
}